---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++11

ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
TabWidth: 2
UseTab: Never

AccessModifierOffset: -1
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
SpaceBeforeParens: ControlStatements

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

IncludeBlocks: Preserve
SortIncludes: false
SortUsingDeclarations: true

FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ReflowComments: false
